<div class="modal-header">
  <button type="button" class="close" (click)="bsModalRef.hide()" >&times;</button>
</div>
<div class="modal-body">
  <p>Name : <span class="text-primary"> {{name}}</span></p>
  <p>Address : <span class="text-primary"> {{address}}</span></p>
  <p>Phone : <span class="text-primary"> {{phone}}</span></p>
  <p>Pin Code : <span class="text-primary"> {{pinCode}}</span></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()" >Close</button>
</div>
